@import './color';
@import './size';

.inputContainer {
	position: relative;
	display: inline-block;

	input {
		font-size: $fontSize;
		margin: 5px;
		padding: 10px;
		border-radius: 5px;
		border: 2px solid $second;
		&:focus {
			outline: 0px;
		}
	}
	.actionButton {
		height: 100%;
		background-color: $primary;
		border: none;
		position: absolute;
		margin: 5px;
		right: 0;
		top: 0;
		color: #fff;
		height: 40px;
		cursor: pointer;
		user-select: none;
		border-left: 1px solid #cfd8dc;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 0px 5px 5px 0px;

		&:focus {
			outline: none;
		}
	}
	.actionButton:hover {
		background-color: $second !important;
		color: $textColor !important;
	}
}
